/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";
@font-face {
        font-family: 'Sebaldus-Gotisch';
        font-style: normal;
        font-weight: normal;
        src: local('Sebaldus-Gotisch'), url('/fonts/Sebaldus-Gotisch.woff') format('woff');
}
@media print {
    @page {size: landscape}
    .no-print {
        display: none;
    }
    body {
        transform: scale(70%);
    }
    article {
      page-break-after: always;
    }
    *{-webkit-print-color-adjust:exact;print-color-adjust:exact}
}
@media print and (color) {
    *{-webkit-print-color-adjust:exact;print-color-adjust:exact}
}
.container-full {
  max-width: 11in;
}
.logo {
    font-family: 'Sebaldus-Gotisch';
    font-weight:normal;
    font-size: 6rem;
    color: #000;
}
li {
    list-style: none;
    padding-bottom: 1rem;
}
.game-attr {
  padding: 0.5rem 2rem 0.5rem;
  background: #000;
  color: #fff;
  display: inline-block;
  margin-top: 1rem;
}
.padding-left-zero {
    padding-left: 0;
}
.ruled--dotted {
    border-bottom: dotted #666;
}
.attr-box {
    border: 0.2rem solid #333;
    background-color: #fff;
    position: relative;
    display: flex;
    height: 6rem;
}
.inner-box--left {
    display: flex;
    flex-grow: 1; align-items: flex-end; justify-content: center; padding: 0.5rem;
}
.inner-box--right {
    display: flex;
    flex-grow: 1;
    align-items: flex-end;
    justify-content: center;
    background: #eee;
    padding: 0.5rem;
}
.background-dark {
    background-color: #000;
}
.label--top-left{
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 1rem;
  color: #666;
}
.label--top-right{
  position: absolute;
  padding-right: 1rem;
  right: 0;
  top: 0;
  color: #666;
}
.label--bottom {
   position: absolute;
   left: 0;
   bottom: 0;
   color: #666;
}
.bordered--line {
  border: 0.2rem solid #333;
  padding: 1rem 1rem 2rem;
}
.empty-line {
  padding-top: 2.5rem;
}
.boxed {
  height: 23rem;
  border: 0.2rem solid #333;
  position: relative;
  background-color: #fff;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.alt-heading {
    font-family: 'Sebaldus-Gotisch';
    font-weight: normal;
    color: #fff;
    background: #000;
    padding-left: 1em;
}
.heading {
    font-family: 'Sebaldus-Gotisch';
    font-weight:normal;
    color: #000;
}
.traits {
    padding-left: 2rem;
}
